/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * {
    outline: 1px dotted black;
}
  * Outline Elements
*/

#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}